<h1>The News!</h1>

<%= render "shared/flash" %>

<% @posts.each do |post| %>
	<div>
	<h2><%= post.title %></h2>
	<p><%= post.body %></p>
	<%= link_to "This post!", post, class: "pull-right" %>
	</div>
<% end %>