<button class="btn btn-default"><%= link_to 'Create a post!', new_post_path %></button>
<button class="btn btn-default"><%= link_to 'See your posts', past_posts_path %></button>
<button class="btn btn-default"><%= link_to 'Logout', logout_path %></button>
